@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Mochiy+Pop+P+One&family=Oswald:wght@200&family=Roboto:ital,wght@0,700;1,100&display=swap");
/*Variables*/
/*Vista Desktop*/
@media only screen and (min-width: 768px) {
  * {
    margin: 0,5%;
  }
  header {
    border-style: groove;
  }
  nav {
    background-image: url(header1.jpg);
    font: x-large "Lato", sans-serif;
  }
  nav div .navbar-brand {
    font-size: x-large;
  }
  nav div ul .nav-item:hover .dropdown-menu {
    background-color: #1a1a1a;
    display: block;
  }
  nav div ul .nav-item:hover .dropdown-menu a {
    color: #42d142;
  }
  nav div ul .nav-item:hover .dropdown-menu .dropdown-menu {
    display: none;
    background-color: #1a1a1a;
  }
  .logo1 {
    width: 500px;
    height: 120px;
  }
  .logo2 {
    width: 250px;
    height: 200px;
  }
  div .carousel-item img {
    width: auto;
    padding-bottom: 20px;
    height: 400px;
  }
  main {
    padding-left: 20px;
    padding-right: 20px;
  }
  main h2, main p {
    color: white;
    text-align: justify;
    font: x-large "Lato", sans-serif;
  }
  .nosotros {
    font-family: "Lato" sans-serif;
    font-size: xx-large;
    background-color: white;
    background-image: url(header1.jpg);
    display: flex;
    justify-content: center;
  }
  .row {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .row div {
    border: groove;
  }
  body {
    height: 800px;
    background-image: linear-gradient(to right, #201f1f, #575555);
    background-size: 25rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
  .armados {
    color: white;
    font: x-large "Lato", sans-serif;
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    justify-items: stretch;
    align-items: stretch;
    border-radius: 15px;
    border-style: groove;
    background-image: url(header1.jpg);
    animation-duration: 3s;
    animation-name: animacion;
  }
  @keyframes animacion {
    from {
      margin-left: 100%;
      width: 300%;
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  .pcs {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-row-gap: 15px;
  }
  article {
    display: grid;
    grid-template-columns: 212px;
    grid-template-rows: auto;
    grid-column-gap: auto;
    grid-row-gap: auto;
    justify-items: center;
    align-items: center;
    justify-self: center;
  }
  article img {
    width: 300px;
    height: 300px;
  }
  footer {
    background-image: url(header1.jpg);
    border-style: groove;
  }
}

/*Vista Mobile*/
@media screen and (max-width: 767px) {
  * {
    margin: 0,5%;
  }
  nav {
    font-size: x-large;
    background-image: url(header1.jpg);
    font-family: 'Lato', sans-serif;
  }
  nav div .navbar-brand {
    font-size: x-large;
  }
  nav div ul .nav-item:hover .dropdown-menu {
    background-color: #1a1a1a;
    display: block;
  }
  nav div ul .nav-item:hover .dropdown-menu a {
    color: white;
  }
  nav div ul .nav-item:hover .dropdown-menu .dropdown-menu {
    display: none;
    background-color: #1a1a1a;
  }
  .logo1 {
    width: 250px;
    height: 110px;
  }
  .logo2 {
    display: none;
  }
  div .carousel-item img {
    width: auto;
    padding-bottom: 20px;
    height: 200px;
  }
  body {
    background-image: linear-gradient(to right, #201f1f, #575555);
  }
  main {
    padding-left: 20px;
    padding-right: 20px;
  }
  main h2, main p {
    color: white;
    font-family: 'Lato', sans-serif;
    text-align: justify;
    font-size: x-large;
  }
  .nosotros {
    font-family: 'Lato', sans-serif;
    font-size: xx-large;
    background-color: white;
    background-image: url(header1.jpg);
    display: flex;
    justify-content: center;
  }
  .row {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .row div {
    border: groove;
  }
  .armados {
    color: white;
    font-family: 'Lato', sans-serif;
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    justify-items: stretch;
    align-items: stretch;
    border-radius: 15px;
    border-style: groove;
    background-image: url(header1.jpg);
    animation-duration: 3s;
    animation-name: animacion;
  }
  @keyframes animacion {
    from {
      margin-left: 100%;
      width: 300%;
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  .pcs {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-row-gap: 15px;
  }
  article {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: auto;
    grid-row-gap: auto;
    justify-items: center;
    align-items: center;
    justify-self: center;
  }
  article img {
    width: 150px;
    height: 150px;
  }
  footer {
    background-image: url(header1.jpg);
    border-style: groove;
  }
}
