
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Mochiy+Pop+P+One&family=Oswald:wght@200&family=Roboto:ital,wght@0,700;1,100&display=swap');

/*Variables*/
$tipografiaPrincipal: x-large 'Lato', sans-serif;
$ColorFondo: rgb(26, 26, 26);
$redes: (fb:rgb(41, 129, 230), ig:rgb(255, 0, 212), wpp:rgb(66, 241, 66));
$estilos: (color:white, font:'Lato' sans-serif, font-size: x-large);

/*Vista Desktop*/

@media only screen and (min-width: 768px){ 
    * {
        margin: 0,5%;
    }

nav {
    background-image: url(header1.jpg);
    font: $tipografiaPrincipal;
        div {
            .navbar-brand {
                font-size: map-get($estilos, font-size);
            }
            ul {
                .nav-item {
                    &:hover {
                    .dropdown-menu {
                        background-color: $ColorFondo;
                        display: block;
                        a {
                            color:rgb(66, 209, 66);
                           }
                    .dropdown-menu {
                        display: none;
                        background-color: $ColorFondo;
                            }
                        }
                    }
                }
            }
        }
    }


.logo1 {
    width: 500px; 
    height: 120px;
}

.logo2 {
    width: 250px; 
    height: 200px;
}

main {
    padding-left: 20px;
    padding-right: 20px;
    h2, p {
        color: rgb(255, 255, 255);
        text-align: justify;
        font: $tipografiaPrincipal;
    }
}
.nosotros {
    font-family: map-get($estilos, font);
    font-size: xx-large;
    background-color: white;
    background-image: url(header1.jpg);
    display: flex;
    justify-content: center;
    }

.row {
    display: grid;
    grid-template-columns: auto auto auto;
    div {
        border: groove;
    }
}

body {
    height: 800px;
    background-image: linear-gradient(to right, rgb(32, 31, 31), rgb(87, 85, 85));
    background-size: 25rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;   
     }
    
.armados {
    color: map-get($estilos, color);
    font: $tipografiaPrincipal;
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: 15px; 
    grid-row-gap: 15px;
    justify-items: stretch;
    align-items: stretch;
    border-radius: 15px;
    border-style:groove;
    background-image: url(header1.jpg);
    animation-duration: 3s;
    animation-name: animacion
    }      
    @keyframes animacion {
        from {
          margin-left: 100%;
          width: 300%
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
      }

div {
.carousel-item {
img{
    width: auto;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 20px;
    height: 600px;
        }
    }
}


footer {
    background-image: url(header1.jpg);
    border-style: groove;
    display: grid;
    grid-template-columns: auto;
    justify-content: space-around;

    .redes {
        display: grid;
        grid-template-columns: 70px 70px 70px;
        grid-column-gap: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
       @each $i, $color in $redes {
            .btn-#{$i} {
                background-color: $color;
                font-size: medium;
                font-weight: bold;
                    }
                }
            }
        }
}

/*Vista Mobile*/

@media screen and (max-width: 767px) {

$redes: (fb:rgb(41, 129, 230), ig:rgb(255, 0, 212), wpp:rgb(66, 241, 66));

    * {
    margin: 0,5%;
    }

    nav {
        font-size: x-large;
        background-image: url(header1.jpg);
        font-family:'Lato', sans-serif;
        div {
            .navbar-brand {
                font-size: x-large;
            }
            ul {
                .nav-item {
                    &:hover {
                    .dropdown-menu {
                        background-color: rgb(26, 26, 26);
                        display: block;
                        a {
                            color: white;
                                    }
                    .dropdown-menu {
                        display: none;
                        background-color: rgb(26, 26, 26);
                            }
                        }
                    }
                }
            }
        }
    }

.logo1 {
        width: 250px; 
        height: 110px;
        }
        
.logo2 {
        display: none;
        }
    
body {
        background-image: linear-gradient(to right, rgb(32, 31, 31), rgb(87, 85, 85))
        }
main {
        padding-left: 20px;
        padding-right: 20px;
         h2, p {
            color: rgb(255, 255, 255);
            font-family: 'Lato', sans-serif;
            text-align: justify;
            font-size: x-large;
            }
        }

.nosotros {
        font-family: 'Lato', sans-serif;
        font-size: xx-large;
        background-color: white;
        background-image: url(header1.jpg);
        display: flex;
        justify-content: center;
            }
        
.row {
    display: grid;
    grid-template-columns: auto auto auto;
    div {
        border: groove;
        }
    }

.armados {
    color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: 15px; 
    grid-row-gap: 15px;
    justify-items: stretch;
    align-items: stretch;
    border-radius: 15px;
    border-style:groove;
    background-image: url(header1.jpg);
    animation-duration: 3s;
    animation-name: animacion
        }      
    @keyframes animacion {
            from {
            margin-left: 100%;
            width: 300%
            }
              
            to {
            margin-left: 0%;
            width: 100%;
                }
              }
        
div {
.carousel-item {
img{
    width: 200px;
    height: 400px;
            }
        }
    }
    footer {
        background-image: url(header1.jpg);
        border-style: groove;
        display: grid;
        grid-template-columns: auto;
        justify-content: space-around;
    
        .redes {
            display: grid;
            grid-template-columns: 70px 70px 70px;
            grid-column-gap: 50px;
            padding-top: 10px;
            padding-bottom: 10px;
           @each $i, $color in $redes {
                .btn-#{$i} {
                    background-color: $color;
                    font-size: medium;
                    font-weight: bold;
                        }
                    }
                }
            }
}